$dark-main-bg: rgb(46, 46, 46);
$dark-second-bg: rgb(60, 63, 65);

$font-color: rgb(187, 187, 187);

$main: rgb(12, 140, 233);
$second: rgb(75, 110, 175);
$item-hover: rgb(75, 75, 75);
$space: 20rem;
$footer-height: 40rem;