@import "@icon-park/vue-next/styles/index.css";
@import "colors";
@import "anim";

:root {
  --color-main-bg: rgb(226, 226, 226);
  --color-second-bg: rgb(238,240,244);
  --color-header-bg: white;
  --color-font: black;
}

html[data-theme='dark'] {
  --color-main-bg: rgba(0, 5, 24, 1);
  --color-second-bg: rgb(60, 63, 65);
  --color-header-bg: white;

}

$anim-time: 0.3s;
* {
  transition: background-color $anim-time, color $anim-time;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: $font-color;
}

#app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8rem;
  height: 10rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: $second;
  border-radius: 10rem;
}

footer {
  box-sizing: content-box;
  height: $footer-height;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: $space;
}

.i-icon {
  cursor: pointer;
}


