@import "@icon-park/vue-next/styles/index.css";
@import "colors";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8rem;
  height: 10rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: $second;
  border-radius: 10rem;
}

.my-button {
  cursor: pointer;
  border-radius: 4rem;
  padding: 5rem 15rem;
  background: $main;
}