//@import '/node_modules/element-plus/dist/index.css';
@import "/node_modules/hover.css";
@import "variable.scss";
@import "anim";
@import 'element-plus/theme-chalk/dark/css-vars';

:root {
  --color-background: #E6E8EB;
  //--color-main-bg: #E6E8EB;
  --color-main-bg: rgb(238, 240, 244);
  --color-second-bg: rgb(247, 247, 247);
  --color-third-bg: rgb(213, 215, 217);

  --color-item-bg: rgb(228, 230, 232);
  --color-item-hover: white;
  //--color-item-active: rgb(75, 110, 175);
  --color-item-active: rgb(253, 246, 236);
  --color-item-border: rgb(226, 226, 226);

  --color-header-bg: white;
  --color-tooltip-bg: white;
  --color-tooltip-shadow: #d9d9d9;
  --color-font-1: rgb(91, 91, 91);
  --color-font-2: rgb(46, 46, 46);
  --color-font-3: rgb(75, 85, 99);
  --color-font-active-1: white;
  --color-font-active-2: whitesmoke;
  --color-main-active: rgb(12, 140, 233);
  --color-primary: rgb(12, 140, 233);
  --color-scrollbar: rgb(147, 173, 227);
  --color-gray: gray;
  --color-sub-gray: #c0bfbf;

  --practice-wrapper-translateX: 1px;
  --article-width: 50vw;
  --toolbar-width: 45rem;
  --toolbar-height: 3.2rem;
  --panel-width: 24rem;
  --space: 1.2rem;
  --radius: .5rem;
  --shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  --panel-margin-left: calc(50% - var(--practice-wrapper-translateX) / 2 + var(--toolbar-width) / 2 + 2rem);
  --article-panel-margin-left: calc(50% - var(--practice-wrapper-translateX) / 2 + var(--article-width) / 2 + 2rem);
  --anim-time: 0.5s;

  --color-input-bg: white;
  --color-input-icon: #d3d4d7;

  --color-textarea-bg: white;
  --color-article: black;

  --aside-width: 12rem;

  --font-family: -apple-system, sans-serif;
  --word-font-family: ui-monospace, sans-serif;
  --en-article-family: Georgia, sans-serif;
  --zh-article-family: "Songti SC", "SimSun", "Noto Serif CJK SC", serif;
}

html.dark {
  --color-main-bg: rgba(14, 18, 23, 1);
  --color-second-bg: rgb(30, 31, 34);
  --color-third-bg: rgb(43, 45, 48);

  --color-item-bg: rgb(43, 45, 48);
  --color-item-hover: rgb(67, 69, 74);
  --color-item-active: rgb(84, 84, 84);
  --color-item-border: rgb(41, 41, 41);

  --color-header-bg: rgb(51, 51, 51);
  --color-tooltip-bg: #252525;
  --color-tooltip-shadow: #3b3b3b;
  --color-font-1: rgba(249, 250, 251, 0.8);
  --color-font-2: rgba(255, 255, 255, 0.5);
  --color-font-3: rgba(255, 255, 255, 0.3);

  --color-gray: #bebebe;
  --color-sub-gray: #383737;

  --color-main-active: rgb(147, 173, 227);
  --color-scrollbar: rgb(92, 93, 94);

  --color-input-bg: rgba(14, 18, 23, 1);
  --color-input-icon: #383737;

  --color-textarea-bg: rgb(43, 45, 48);

}

@media (max-width: 1680px) {
  :root {
    --practice-wrapper-translateX: -12vw;
    --toolbar-width: 40vw;
    --article-width: 60vw;
    --panel-width: 38rem;
    --toolbar-height: 4.8rem;
    --panel-margin-left: calc(50vw + var(--practice-wrapper-translateX) + var(--toolbar-width) / 2 + 5vw);
    --article-panel-margin-left: calc(50% + var(--practice-wrapper-translateX) + var(--article-width) / 2 + 48rem);
  }
  .footer {
    .bottom {
      padding: 1.5rem 1rem 1rem 1rem !important;
    }

    .stat {
      margin-top: 0.4rem !important;

      .row {
        gap: 0.5rem !important;
      }
    }
  }
}

@media (max-width: 1366px) {
  :root {
    --space: 10rem;
    --practice-wrapper-translateX: -22vw;
    --article-width: 53vw;
    --panel-width: 30vw;
    --toolbar-width: 50vw;
    --toolbar-height: 40rem;
    --panel-margin-left: calc(50vw + var(--practice-wrapper-translateX) + var(--toolbar-width) / 2 + 14vw);
    --article-panel-margin-left: calc(50% + var(--practice-wrapper-translateX) + var(--article-width) / 2 + 12vw);
  }

  .footer {
    .bottom {
      padding: 1.5rem 0.5rem 0.5rem 0.5rem !important;
    }

    .stat {
      margin-top: 0.4rem !important;

      .row {
        gap: 0.5rem !important;
      }
    }
  }
}

.anim {
  transition: background var(--anim-time), color var(--anim-time), border var(--anim-time);
}

html, body {
  //font-size: 1px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--color-font-1);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
}

.mobile-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
  font-size: 18rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  & > .page-content {
    padding: 10rem;
    box-sizing: border-box;
    overflow: auto;
  }
}

#app {
  width: 100vw;
  min-height: 100vh;
}

a {
  $main: rgb(64, 158, 255);
  color: $main;
  text-decoration: none;
}

.base-textarea {
  flex: 1;
  font-family: var(--font-family);
  font-size: 1.1rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: .4rem;
  padding: .5rem .6rem;
  transition: all .3s;
  min-height: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  background: var(--color-textarea-bg);

  &:focus {
    border: 1px solid var(--color-main-active);
  }

  &[readonly] {
    cursor: not-allowed;
    opacity: .7;
  }
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: .5rem;
    height: .6rem;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: .1rem;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: .6rem;
  }
}

//@supports (scrollbar-width: thin) {
//  * {
//    scrollbar-color: var(--color-scrollbar) #f3f4f9;
//    scrollbar-width: thin;
//  }
//}

footer {
  $footer-height: 60rem;
  box-sizing: content-box;
  height: $footer-height;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--space);
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.gap10 {
  gap: 10rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-page-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: var(--space);
  box-sizing: border-box;

  .list-header {
    min-height: 3rem;
    padding: .6rem var(--space);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--color-font-3);

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      gap: .6rem;
    }

    .title {
      max-width: 70%;
    }

    .right {
      word-break: keep-all;
    }
  }

}

.scroll {
  padding: 0 var(--space);
  flex: 1;
  overflow: auto;
}

.virtual-list {
  overflow: overlay;
  height: 100%;
  padding: 0 var(--space);
}

.space15 {
  margin-bottom: 15rem;
}

.common-list1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  gap: 10rem;
  padding: 0 var(--space);
}

.list-item-wrapper {
  padding-bottom: 1rem;
}

.common-list-item {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  background: var(--color-item-bg);
  color: var(--color-font-1);
  font-size: 1.1rem;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  transition: all .3s;
  padding: .6rem;
  gap: .6rem;
  border: 1px solid var(--color-item-border);

  .left {
    display: flex;
    gap: .6rem;

    .title-wrapper {
      display: flex;
      flex-direction: column;
      gap: .2rem;
      word-break: break-word;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    transition: all .3s;
  }

  .volume, .collect, .easy {
    opacity: 0;
  }

  &:hover {
    background: var(--color-item-hover);

    .volume, .collect, .easy {
      opacity: 1;
    }
  }

  &.active {
    background: var(--color-item-active);
    $c: #E6A23C;

    .phonetic, .item-sub-title {
      color: var(--color-gray) !important;
    }

    .volume, .collect, .easy, .fill {
      color: $c;
    }
  }

  &.border {
    &.active {
      .item-title {
        border-bottom: 2px solid gray !important;
      }
    }

    .item-title {
      transition: all .3s;
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }

    &:hover {
      .item-title {
        border-bottom: 2px solid gray !important;
      }
    }
  }

  .item-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--color-font-1);

    .word {
      font-size: 1.2rem;
      display: flex;
    }

    .phonetic {
      font-size: .9rem;
      color: gray;
    }
  }

  .item-sub-title {
    font-size: 1rem;
    color: gray;
  }

}

.word-shadow {
  color: transparent !important;
  text-shadow: #b0b0b0 0 0 .5rem;
  user-select: none;
}

.common-title {
  min-height: 2.8rem;
  font-size: 1.1rem;
  color: var(--color-font-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  flex: 1;
  width: 100%;
  transition: height .3s;
  position: relative;
  overflow: hidden;

  .slide-infinite {
    z-index: 1;
    margin-top: 0;
    transition: all .3s;
  }

  .slide-list {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
  }
}

.container2 {
  @apply w-5/10 pt-5;
}

.center {
  @apply flex justify-center items-center;
}