//$dark-main-bg: rgb(46, 46, 46);
$dark-main-bg: rgba(0, 5, 24, 1);
$dark-second-bg: rgb(60, 63, 65);

$font-color: rgb(187, 187, 187);

$main: rgb(64,158,255);
//$main: rgb(121,187,255);
//$second: rgb(75, 110, 175);
$second: rgb(59, 87, 138);
$item-hover: rgb(75, 75, 75);
$space: 24rem;
$footer-height: 40rem;
$card-radius: 8rem;

$font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$word-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;