.setting-list {
  background: var(--color-header-bg);
  color: var(--color-font-2);
  border-radius: 8rem;
  width: 100%;

  .item {
    height: 60rem;
    padding-left: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;

    .right {
      padding-right: 10rem;
      height: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f1f1f1;
      border-bottom: 1px solid var(--color-item-bg);
    }
  }
}
